<footer>
  <div>
    <a href="/"><img class="logo" src="public/images/logo.svg" alt="PennHealthX" /></a>
    <a href="https://facilities.upenn.edu/maps/locations/translational-research-phase-2" target="_blank">Jordan Medical Education Center</a>
    <p>3400 Civic Center Boulevard</p>
    <p>Philadelphia, PA 19104</p>
    <a href="mailto:pennhealthx@gmail.com">pennhealthx@gmail.com</a>
  </div>
  <div>
    <h1>Navigation</h1>
    <hr />
    <a style="margin: 5px 0;" href="/team">Our Team</a>
    <a style="margin: 5px 0;" href="/projects/home">Projects</a>
    <a style="margin: 5px 0;" href="/events">Events</a>
    <a style="margin: 5px 0;" href="/connect">Connect</a>
    <a style="margin: 5px 0;" href="/conference">Conference</a>
  </div>
</footer>
